# Sanity Configuration
VITE_SANITY_PROJECT_ID=qvf7tpyq
VITE_SANITY_DATASET=production

# Checkout Configuration
# Telefone no formato: 5511999999999
VITE_WHATSAPP_NUMBER=5511999999999

# Payment Configuration (Optional - InfinityPay)
VITE_INFINITYPAY_KEY=your_key_here
